body {
  background-color: #d65465;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}

/* CSS for the first row */
.gridItem .firstRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* CSS for the second row */
.gridItem .secondRow {
  display: flex;
  justify-content: flex-start;
}

/* CSS for the title element */
.gridItem .title {
  margin: 0; /* Remove default margins for the title element */
}

.gridItem {
  position: relative;
  padding: 10px;
  text-align: center;
  background-color: #eaeaea;
  border: 3px solid gray;
  border-radius: 10px;
  /* width: 300px;
  height: 75px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.setGroup {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.menuIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #888;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.context-menu.show {
  opacity: 1;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}

.context-menu a {
  color: #333;
  text-decoration: none;
}

.context-menu a:hover {
  text-decoration: underline;
}

.clickableButton {
  margin-top: 10px;
  padding: 3px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}