.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.gridItem {
  background-color: #eaeaea;
  padding: 10px;
  position: relative;
  text-align: center;
}

.contentContainer {
  position: relative;
}

.setGroup {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.buildStatusBadge {
  position: absolute;
  top: 20px;
  right: 20px;
}